{% extends 'base.html.twig' %}

{% block title %}cheker ses mails
{% endblock %}


{% block body %}
	
{% include "public/shared/_side.html.twig" %}
<div class="container">
<div class="row">

 <div class="col-sm mx-5  mt-5 " style="border:solid 1px black; border-radius:5px;padding:15px">

<div class="content_register">
		<form method="post">


			<div class="mb-6" >
				<div >
					<h5 > 
						Si votre adresse, mail est enregistrée, vous recevrez un lien pour modifier votre mot de passe.</h5>
					<h5 >Ce lien va expirer dans :{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
					</h5>
					<h5 class="mt-5">Si vous n'avez pas recu de mail</h5>

					<h5 class="mb-4">Regardez dans vos Spam ou cliquer sur ce lien pour recevoir à nouveau le mail</h5>
					<a  class="btn btn-dark" href="{{ path('app_forgot_password_request') }}">Renvoyer à nouveau</a>
				</div>
			</div>

           </form>
		</div>

</div>
 </div>	
 </div>



























	

	

{% endblock %}
