body{
    background: url("/..//images/home_braille.jpg") no-repeat top/cover;
    background-color: rgba(0,0,255,0.3) ;
}

a.page-link {
    color:black !important;
}

span.page-link {
   background-color: grey !important;
}

