/* body */

body {
  width: 100vw;
  /* background-color: #ffe4c4; */
  font-family: "Lato", sans-serif;
}

/* ---------------pour contraste adaptabilite ------------------------------------------------------------------- */
#return_view {
  display: none;
}

.ajout {
  background-color: black;
  color: white !important;
  font-size: 20px;
}

.lienbiblio {
  display: none;
}

/* ---------------row------------------------------------------------------------------- */
#rowIndex {
  margin-top: 15px;
  margin-left: 10px;
  height: 95%;
}
/* image col 1----------------------------------------------------------------------------- */
#imageIndex {
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background: url("/..//images/braille.jpg") no-repeat top/cover;
}

.myspace {
  padding: 5px;
  width: 99%;
  height: 18%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mon_pseudo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myspace a {
  text-align: center;
  /* width: 98%; */
}

/* ------intro- col 2--------------------------------------------------------------------- */
#introIndex {
  border: 2px solid grey;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#introIndex h1 {
  font-size: 28px !important;
  font-weight: bold;
  color: red;
  text-align: center;
}
/* evt_biblio_com - col 3----------------------------------------------------------------- */

/* common */
.card-title {
  font-size: 20px;
  color: red;
  font-size: bold !important;
}

/* Evenements et news */

#evt_biblio_comm {
  border: solid 2px grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* evenements */
.evt {
  margin-top: 5px;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: #feffe2;
}

.evt img {
  padding-left: 4px;
  max-width: 20%;
  border-radius: 20px;
}

/* bibliotheques */

.biblio {
  border: 1px solid grey;
  border-radius: 20px;
  background-color: #f0f0cb;
}

#chatbot {
  padding-left: 4px;
  max-width: 20%;
  border-radius: 20px;
}

/* commerce */

.telephone {
  padding-left: 4px;
  max-width: 20%;
  border-radius: 20px;
}

.comm {
  border: 1px solid grey;
  padding-bottom: 5px;
  border-radius: 20px;
  background-color: #dad5ab;
}

/*------------------------------ RESPONSIVE ------------------------------------------*/
/* responsive petits ecrans---------------------------------------------------------- */
@media screen and (max-width: 900px) {
  /* BODY */

  body {
    width: 100vw;
    margin: auto;
  }

  #intro h1 {
    font-size: 20px;
  }

  #introh {
    font-size: 20px;
  }

  #intro p {
    font-size: 13px;
  }

  #imageIndex {
    background: none;
  }

  .myspace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
  }

  .row.row-cols-1.row-cols-md-2.g-4 {
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /* evenements */

  .evt img {
    max-width: 60%;
    border-radius: 20px;
  }

  /* commerce */

  .telephone {
    max-width: 60%;
    border-radius: 20px;
  }

  /* bibliotheques */
  #chatbot {
    max-width: 50%;
    border-radius: 20px;
  }
}
