/* ---------------pour contraste adaptabilite ------------------------------------------------------------------- */
#return_view {
  display: none;
}

.ajout {
  background-color: black;
  color: white !important;

  font-size: 30px;
}

/* BODY */
/* squelette col-row  */

body {
  width: 100vw;
  font-family: "Lato", sans-serif;
  background-color: #ffe4c4;
}

/* ---------------pour contraste adaptabilite ------------------------------------------------------------------- */
#return_view {
  display: none;
}

.ajout {
  background-color: black;
  color: white !important;

  font-size: 30px;
}
/* ---------------fin contraste adaptabilite ------------------------------------------------------------------- */

.pagination {
  background-color: #ffe4c4 !important;
}
.table-responsive-sm nav {
  background-color: #ffe4c4 !important;
}

.info_user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}

.info_role {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}

.session_stop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.session_stop a {
  margin-bottom: 10px;
}

#rowRegister {
  margin-top: 15px;
  margin-left: 5px;
}

.intro_register {
  height: 98%;
  margin-top: 15px;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 3px solid grey;
}

.content_register {
  height: 98%;
  padding: 30px;
  width: 99%;
  margin-top: 15px;
  border: solid 3px grey;
  border-radius: 20px;
}

.creat_account {
  max-width: 60%;
  padding-bottom: 20px;
}

#icocon {
  margin-top: 10px;
  font-size: 70px;
  color: blue;
}

.textealerte {
  text-align: center;
  margin-bottom: 25px;
  border-radius: 20px;
  border-radius: 20px solid grey;
}

.textealerte h5 {
  font-size: 30px;
}

.form-group {
  padding: 8px;
}
.textealerte p {
  font-size: 16px;
  font-weight: bold;
}

#btonval {
  margin-top: 50px;
  width: 100%;
}

#tabletitle {
  font: size 25px;
  color: crimson;
}

/*--------------- specifique *-------------------------------------------------/
  /* col 1 */

.infoRegister {
  margin-bottom: 20px;
}

.infoRegister h5 {
  font-size: 30px;
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
.showart {
  background-color: #f5fdb0;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 20px;
}

.tete {
  background-color: #28ffbf;
}

.derniers_inscrits {
  display: flex;
  flex-direction: column;
}

.showadmin {
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 20px;
}

/* ---------------------responsive-------------------------------- */
@media screen and (max-width: 1200px) {
  body {
    width: 100vw;
    margin: auto;
  }

  .table-responsive-sm {
    display: flex;
    flex-direction: column;
  }
  .info_user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .info_role {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
