{% extends 'base.html.twig' %}

{% block title %}Voir les post
{% endblock %}

{% block body %}

	
		{% include "public/shared/_side.html.twig" %}
		
<div class="container">

<div class="row mb-4">
   <div class="col-sm mx-4">
    {% include "public/shared/_navbar.html.twig" %} 
   </div>
   </div>

<div class="row mb-4">
<div class="col-sm mx-4">
<h3 class="mt-5">Mes Informations personnelles</h3>
<p>Mon pseudo:    {{ user.pseudo }}</p>
<p>Mon adresse mail:    {{ user.email  }}</p>
<a class="btn btn-sm btn-danger mt-3" href=" {{ path('app_forgot_password_request') }}">Modifier mon mot de passe</a>
    </div>
</div>

										
<div class="row mb-4">
<div class="col-sm mx-4">
<h3 class="mt-5">Mes posts</h3>

<a class="btn btn-sm btn-dark mt-3" href=" {{ path('auteur_home') }}">Consulter mes posts</a>
    </div>
</div>
										
	</div>										


							
			
	{% endblock %}
