<nav  >
			{% if app.user %}
				{% if app.user.roles[0] is same as "ROLE_ADMIN" %}
					
							<a class="btn btn-warning" aria-current="page" href=" {{ path('admin_home') }} ">
								<i class="fas fa-user-shield"></i>Admin</a>

				{% endif %}
					{% endif %}
 			{% if app.user is same as null %}
			
             <a class="btn btn-dark" type="button" href="{{ path('register') }}" >Creer un compte</a> 
             <a class="btn btn-dark" type="button" href="{{ path('app_login') }}">Se connecter</a> 
           {% endif %}
			
			
</nav>	