{% extends "base.html.twig" %}


{% block body %}
	

	{% include "public/shared/_side.html.twig" %}
	
<div class="container mt-5 pb-5" >

<div class="row mb-3">
   <div class="col-sm mx-4">
    {% include "public/shared/_navbar.html.twig" %} 
   </div>
   
     </div>

  <div  class="row" >
    <div  id="coll6"class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;padding:10px">
     
<h5 style ="font-weight:bold;font-size:25px">Association Valentin Hauy ( A.V.H )</h5>

<ul>
	<li style="font-size:20px">Elle accueille les personnes en situation de handicap visuel et celles menacées par la malvoyance ou la cécité.</li>
   <li style="font-size:20px">Elle defend le droit des personnes en situation de handicap visuel</li>
   <li style="font-size:20px">Elle propose une bibliotheque braille,des livres parlés,et également des fils audio-decrits.</li>
   <li style="font-size:20px">Propose également des activités culturelles.</li>
						
</ul>						
	</div>


	<div id="coll7"class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;display:flex;flex-direction:column;justify-content:space-around;align-item:center">					
	<div style="text-align:center">
	<img style="max-width:50%;text-align:center" src="{{ asset('images/Logo_Valentin_Haüy_assoss.png') }}" alt="logo association">
	</div>
	<div style="text-align:center">
	 <a class="btn btn-secondary" href="https://www.avh.asso.fr/" target="_blank">Aller sur le site de l'association</a>				
    </div>
    </div>
    </div>

 <div class="row mt-3">
    <div id="coll8"class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;padding:10px">
     
<h5 style ="font-weight:bold;font-size:25px">Union Nationale des Aveugles et Déficients visuels ( U.N.A.D.E.V )</h5>

<p style="font-size:20px">Ses missions:</p>
		
<ul>
	<li style="font-size:20px">Accompagnement social et aides à domicile</li>
	<li style="font-size:20px">Activités de loisirs et sportives diverses. </li>
	<li style="font-size:20px">Bibliothèque sonore.</li>						
				
	
</ul>						
	</div>


	<div  id="coll9"class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;display:flex;flex-direction:column;justify-content:space-around;align-item:center">					
	<div style="text-align:center;" >
	<img style="max-width:50%;text-align:center" src="{{ asset('images/unadev_logo.jfif') }}" alt="logo association">
	</div>
	<div style="text-align:center">
	 <a class="btn btn-secondary" href="https://www.unadev.com/" target="_blank">Aller sur le site de l'association</a>				
    </div>
    </div>
    </div>


<div  class="row mt-3">
    <div id="coll10"class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;padding:10px">
     
<h5 style ="font-weight:bold;font-size:25px">Fédération des Aveugles et Amblyopes de France</h5>

<p style="font-size:20px">Elle intevient dans plusieurs domaines:</p>
		
<ul>
	<li style="font-size:20px">Éducation / Petite enfance.</li>
	<li style="font-size:20px">Emploi / Formation.</li>
	<li style="font-size:20px">Personnes âgées et dépendance.</li>						
	<li style="font-size:20px">Accessibilité.</li>						
	<li style="font-size:20px">Santé Culture / Sport / Loisirs.</li>	
   <li style="font-size:20px">Nouvelles technologies.</li>	
   <li style="font-size:20px">Recherche médicale.</li>	
   
</ul>						
	</div>


	<div id="coll11"class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;display:flex;flex-direction:column;justify-content:space-around;align-item:center">					
	<div style="text-align:center">
	<img style="max-width:50%;text-align:center" src="{{ asset('images/logoFédérationdes-aveuglesdefrance_miseenavant.jpg') }}" alt="logo association">
	</div>
	<div style="text-align:center">
	 <a class="btn btn-secondary" href="https://aveuglesdefrance.org" target="_blank">Aller sur le site de l'association</a>				
    </div>
    </div>
    </div>


















    
</div>


{% endblock %}
