{% extends "base.html.twig" %}


{% block body %}
	
	{% include "public/shared/_navbar.html.twig" %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;padding:10px">
     
<h5 style ="font-weight:bold;font-size:25px">Boutique Valentin Hauy ( A.V.H )</h5>

<p style="font-size:20px">La boutique propose un catalogue de plus de 500 articles adaptés aux malvoyants, aux non voyants et aux braillistes.	</p>
	<p style="font-size:20px">	Livraison possible à domicile ou achat en boutique posible.	</p>	
<ul>
	<li style="font-size:20px">Articles pour la vie quotidienne : cuisine, para-médical,accessoires audio,bricolage.</li>
	<li style="font-size:20px">Téléphonie portable et fixe et accessoires.</li>
	<li style="font-size:20px">Lecteurs enregistreur et de salon.</li>						
	<li style="font-size:20px">Loupes:à mains , éclairantes ou électroniques.</li>						
	<li style="font-size:20px">Téléagrandisseurs: de bureau, parlant ou portable></li>						
	<li style="font-size:20px">Machine à écrire et lampes basse vision.</li>						
	<li style="font-size:20px">Horlogerie: montre braille, reveil parlant...</li>						
	<li style="font-size:20px">Locomotion: cannes</li>						
	<li style="font-size:20px">Ouvrages d'apprentissage.</li>						
</ul>						
	</div>


	<div class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;display:flex;flex-direction:column;justify-content:space-around;align-item:center">					
	<div style="text-align:center">
	<img style="max-width:100%;text-align:center" src="{{ asset('images/val_H.jpg') }}" alt="logo association">
	</div>
	<div style="text-align:center">
	 <a class="btn btn-secondary" href="https://magasin.avh.asso.fr/" target="_blank">Aller sur la boutique</a>				
    </div>
    </div>
    </div>

 <div class="row mt-3">
    <div class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;padding:10px">
     
<h5 style ="font-weight:bold;font-size:25px">CFLOU.COM</h5>

<p style="font-size:20px">Une offre similaire à celle de Valentin Hauy...mais en plus:	</p>
		
<ul>
	<li style="font-size:20px">>Des promotions régulières et des nouveautés.</li>
	<li style="font-size:20px">Un service de location de matériel pour  malvoyants et aveugles. Ce qui peut être intérressant compte-tenu du côut à l'achat du matériel.</li>
	<li style="font-size:20px">Démonstration et installation à domicile du matériel.</li>						
	<li style="font-size:20px">Propose également des formations informatique et téléphonie.</li>						
	
</ul>						
	</div>


	<div class="col-sm mx-3" STYLE="border:solid 2px grey;border-radius:5px;display:flex;flex-direction:column;justify-content:space-around;align-item:center">					
	<div style="text-align:center">
	<img style="max-width:80%;text-align:center" src="{{ asset('images/c_flou.png') }}" alt="logo association">
	</div>
	<div style="text-align:center">
	 <a class="btn btn-secondary" href="https://www.cflou.com/#" target="_blank">Aller sur la boutique</a>				
    </div>
    </div>
    </div>


    
</div>
	

{% endblock %}
