{% extends "base.html.twig" %}


{% block body %}
	<link rel="stylesheet" href="{{ asset('/css/administratif.css') }}">
	{% include "public/shared/_navbar.html.twig" %}
<div class="container mt-5">

    <div class="row " >
      <div class="col-sm mx-5" style="border:solid 1px black; border-radius:5px;">
	  <p style="text-align:center;font-size:40px;padding:10px" class="mt-2"><i id="adminis" class="fas fa-wheelchair"></i></p>
     
     <p style="font-weight:bold;text-align:center">35% des personnes handicapées et leurs aidants jugent les démarches administratives assez, voire très complexes.Force est de constater les difficultés réelles auxquelles sont encore confrontées de nombreuses personnes en situation de handicap pour faire valoir leurs droits, du fait de la complexité des démarches et de la lenteur des circuits administratifs.</p>

      </div>

      
    </div>

    <div class="row">
     <div class="col-sm mx-5  mt-5 " style="border:solid 1px black; border-radius:5px">
      <h2 style="font-weight:bold"> Documents neccessaires pour deposer un dossier a la MDPH</h2>
       
          <p >
		  </p>
        <p> </p>
       

      </div>

</div>

    
	{# <div class="row">
   <div class="col">L</div>
   <div class="col">L</div>
     </div>

   <div class="row">
   <div class="col">L</div>
   <div class="col">L</div>
    </div> #}

	
	
	
		


	
{% endblock %}
