{% extends "base.html.twig" %}


{% block body %}

	{% include "public/shared/_navbar.html.twig" %}
<div class="container mt-5 pb-5">

    <div class="row " >
      <div class="col-sm mx-5" style="border:solid 1px black; border-radius:5px;">
	 
     
     <p style="text-align:center;font-size:25px;padding:10px"> Il n'existe pas à ce jour de données à grande échelle sur la situation des personnes déficientes visuelles en France. Un collectif de 8 associations , dont l'association Valentin Haüy,a décidé de porter ensemble la réalisation d’une étude de grande ampleur portant sur les conditions de vie des personnes déficientes visuelles, sur leurs problématiques au quotidien, leurs attentes et leurs besoins dans tous les domaines de leur vie courante, que ce soit sur le diagnostic de leur problème visuel, les moyens de compensation mis à leur disposition, leur éducation, leur accès à l’emploi, à la culture, aux loisirs et sur le vieillissement. N’hésitez pas à en parler autour de vous pour recueillir le plus d’informations possibles. Les résultats seront communiqués en 2022</p>
 <p style="text-align:center;font-size:30px;padding:10px;" class="mt-2"><a class = "btn btn-info" href="https://etude-homere.org/" target="_blank"> Suivi de l'etude Homere sur le site</a></p>
      </div>

      
    </div>

    <div class="row">
     <div class="col-sm mx-5  mt-5 " style="border:solid 1px black; border-radius:5px">
      <h2 style="font-weight:bold;padding:10px"> L'Agenda du handicap</h2>
       
       <p style="font-size:20px">L'agenda du handicap propose plusieurs rubriques : </p>

<ul>
	<li style="font-size:20px">Actualites</li>
	<li style="font-size:20px">Produits et services</li>
	<li style="font-size:20px">Emploi</li>						
	<li style="font-size:20px">Droit</li>						
	<li style="font-size:20px">Tourisme</li>						
	<li style="font-size:20px">Video</li>						
	<li style="font-size:20px">Podcast</li>						
							
</ul>						

<p style="text-align:center;font-size:30px;padding:10px;" class="mt-2"><a class="btn btn-info" href="https://agenda.handicap.fr/" target="_blank">Se rendre sur le site </a></p>
								
							
</div>

</div>

 
	
{% endblock %}
