{% extends 'base.html.twig' %}

{% block title %}Voir les post
{% endblock %}

{% block body %}

		

		<table class="table table-hover">


			<tr>
				<th>titre</th>
				<th>Détail du contenu</th>
				{% if app.user %}
					<th>contacter</th>
				{% endif %}
				<th>Retour
				</th>
			</tr>
		</tr>

		<tr>

			<td>{{article.titre}}</td>
			<td>{{article.description |raw}}</td>

			{% if app.user %}
				<td>
					<a href="{{ path('contact_between_users', {'id' : article.user.id}) }}" class="btn btn-success">Contacter
						<i class="fas fa-envelope"></i>
					</td>
				{% endif %}
			</td>
			<td>
				<a href="{{ path('show_articles') }}" class="btn btn-warning">
					<i class="fas fa-chevron-left"></i>
				</td>
			</td>
		</tr>

	</tr>
</tr>
</table>
{% endblock %}
